/* util classes */
.util-hidden {
  display: none !important;
}
.util-right {
  float: right !important;
}
.util-left {
  float: left !important;
}
.util-space {
  display: block;
  width: 100%;
  height: 10px;
}
.util-space-vertical {
  display: table-cell;
  width: 10px;
}

/* common style */
body {
  background-color: #F4F4F4;
}

/* rank style */
.position {
  padding-top: 0.3em;
}
.position.label {
  display: inline-block;
  position: relative;
  margin-top: 0.5em;
  left: 0.1em;
  margin-right: 1em;
}
.rank-menu {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 1rem !important;
}
.rank.item {
  display: inline-block !important;
}
.segment.main {
  background-color: transparent;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.user-name.header {
  font-size: 3rem !important;
  height: 140px;
  line-height: 140px !important;
}

/* game style */
.canvas {}
.grid-container {
  width: 35em;
  margin: 0 auto;
}
.grid-row {
  overflow: hidden;
  width: 35em;
  display: block;
  margin-bottom: 1em;
}
.grid-cell {
  float: left;
  width: 8em;
  height: 8em;
  margin-left: 1em;
  background-color: #fff;
}
.grid-cell:first-child {
  margin-left: 0;
}