
/* util classes */
.util-hidden {
  display: none !important;
}
.util-right {
  float: right !important;
}
.util-left {
  float: left !important;
}
.util-space {
  display: block;
  width: 100%;
  height: 10px;
}
.util-space-vertical {
  display: table-cell;
  width: 10px;
}

/* common style */
body {
  background-color: #F4F4F4;
}

/* rank style */
.position {
  padding-top: 0.3em;
}
.position.label {
  display: inline-block;
  position: relative;
  margin-top: 0.5em;
  left: 0.1em;
  margin-right: 1em;
}
.rank-menu {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 1rem !important;
}
.rank.item {
  display: inline-block !important;
}
.segment.main {
  background-color: transparent;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.user-name.header {
  font-size: 3rem !important;
  height: 140px;
  line-height: 140px !important;
}

/* game style */
.canvas {}
.grid-container {
  width: 35em;
  margin: 0 auto;
}
.grid-row {
  overflow: hidden;
  width: 35em;
  display: block;
  margin-bottom: 1em;
}
.grid-cell {
  float: left;
  width: 8em;
  height: 8em;
  margin-left: 1em;
  background-color: #fff;
}
.grid-cell:first-child {
  margin-left: 0;
}

.tile-container {
  width: 35em;
  margin: 0 auto;
  position: relative;
  top: -36em;
}
.tile {
  position: absolute !important;  
  top: 0;
  left: 0;
  -webkit-transition: 100ms ease-in-out;
     -moz-transition: 100ms ease-in-out;
          transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
     -moz-transition-property: -moz-transform;
          transition-property: transform;
}

.ui.cube.shape .side {
  border-radius: 4px;
  padding: 0;
}
.tile .center {
  color: #fff !important;
  font-size: 4em !important;
}
.side.color-1 {
  background-color: #66BAB7 !important;
}
.side.color-2 {
  background-color: #69B0AC !important;
}
.side.color-3 {
  background-color: #00AA90 !important;
}
.side.color-4 {
  background-color: #268785 !important;
}
.side.color-5 {
  background-color: #0F4C3A !important;
}
.side.color-6 {
  background-color: #26453D !important;
}
.side.color-7 {
  background-color: #4F726C !important;
}
.side.color-8 {
  background-color: #376B6D !important;
}
.side.color-9 {
  background-color: #33A6B8 !important;
}
.side.color-10 {
  background-color: #0089A7 !important;
}
.side.color-11 {
  background-color: #0C4842 !important;
}

.tile .side {
  min-width: 8em !important;
  width: 8em !important;
  height: 8em !important;
}

/* 2D translate definition */
.translate-x1-y1 {
  -webkit-transform: translate(0, 0);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(0, 0);  /* IE 9 */
          transform: translate(0, 0);
}
.translate-x2-y1 {
  -webkit-transform: translate(9em, 0);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(9em, 0);  /* IE 9 */
          transform: translate(9em, 0);
}
.translate-x3-y1 {
  -webkit-transform: translate(18em, 0);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(18em, 0);  /* IE 9 */
          transform: translate(18em, 0);
}
.translate-x4-y1 {
  -webkit-transform: translate(27em, 0);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(27em, 0);  /* IE 9 */
          transform: translate(27em, 0);
}
.translate-x1-y2 {
  -webkit-transform: translate(0, 9em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(0, 9em);  /* IE 9 */
          transform: translate(0, 9em);
}
.translate-x2-y2 {
  -webkit-transform: translate(9em, 9em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(9em, 9em);  /* IE 9 */
          transform: translate(9em, 9em);
}
.translate-x3-y2 {
  -webkit-transform: translate(18em, 9em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(18em, 9em);  /* IE 9 */
          transform: translate(18em, 9em);
}
.translate-x4-y2 {
  -webkit-transform: translate(27em, 9em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(27em, 9em);  /* IE 9 */
          transform: translate(27em, 9em);
}
.translate-x1-y3 {
  -webkit-transform: translate(0, 18em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(0, 18em);  /* IE 9 */
          transform: translate(0, 18em);
}
.translate-x2-y3 {
  -webkit-transform: translate(9em, 18em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(9em, 18em);  /* IE 9 */
          transform: translate(9em, 18em);
}
.translate-x3-y3 {
  -webkit-transform: translate(18em, 18em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(18em, 18em);  /* IE 9 */
          transform: translate(18em, 18em);
}
.translate-x4-y3 {
  -webkit-transform: translate(27em, 18em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(27em, 18em);  /* IE 9 */
          transform: translate(27em, 18em);
}
.translate-x1-y4 {
  -webkit-transform: translate(0, 27em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(0, 27em);  /* IE 9 */
          transform: translate(0, 27em);
}
.translate-x2-y4 {
  -webkit-transform: translate(9em, 27em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(9em, 27em);  /* IE 9 */
          transform: translate(9em, 27em);
}
.translate-x3-y4 {
  -webkit-transform: translate(18em, 27em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(18em, 27em);  /* IE 9 */
          transform: translate(18em, 27em);
}
.translate-x4-y4 {
  -webkit-transform: translate(27em, 27em);/*   Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translate(27em, 27em);  /* IE 9 */
          transform: translate(27em, 27em);
}

