<div class="game ui grid">
  <div class="two column row">
    <div class="column">
      <h1 class="user-name ui center aligned header">
        GAOFENG
      </h1>
    </div>
    <div class="column">
      <div class="ui blue circular segment">
        <h2 class="ui blue header">
          score
          <div class="header">0</div>
        </h2>
      </div>
      <div class="util-space-vertical"></div>
      <div class="util-space-vertical"></div>
      <div class="util-space-vertical"></div>
      <div class="ui teal circular segment">
        <h2 class="ui teal header">
          best
          <div class="header">20408</div>
        </h2>
      </div>
    </div>
  </div>
</div>
