<div class="ui two column grid">
  <div class="four wide column">
    <div class="ui vertical pointing menu">
      <a class="active item">
        <i class="home icon"></i> 主页
      </a>
      <a class="item">
        <i class="mail icon"></i> 消息
      </a>
      <a class="item">
        <i class="user icon"></i> 朋友们
      </a>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui animated list">
      <div>
        <img src="./images/trophy-gold.png" alt="" class="ui avatar image position">
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar.jpg">
          <div class="content">
            <div class="header">Snickerdoodle</div>
            An excellent companion
          </div>
        </div>
      </div>
      <div>
        <img src="./images/trophy-silver.png" alt="" class="position ui image avatar">
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar2.jpg">
          <div class="content">
            <div class="header">Poodle</div>
            A poodle, its pretty basic
          </div>
        </div>
      </div>
      <div>
        <img src="./images/trophy-bronze.png" alt="" class="position ui image avatar">
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar3.jpg">
          <div class="content">
            <div class="header">Paulo</div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div>
        <a class="ui teal circular label">12</a>
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar.jpg">
          <div class="content">
            <div class="header">Snickerdoodle</div>
          </div>
        </div>
      </div>
      <div>
        <a class="ui teal circular label">12</a>
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar.jpg">
          <div class="content">
            <div class="header">Snickerdoodle</div>
            An excellent companion
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
