<div class="ui two column relaxed grid">
  <div class="ui four wide column secondary vertical pointing menu rank-menu">
    <a class="active item rank-type teal" data-target="daily">
      <i class="sun icon"></i> Daily
    </a>
    <a class="item rank-type teal" data-target="monthly">
      <i class="moon icon"></i> Monthly
    </a>
    <a class="item rank-type teal" data-target="historical">
      <i class="checkered flag icon"></i> Historical
    </a>
  </div>
  <div class="twelve wide column ui segment main-list">
    <div class="ui active inverted dimmer">
      <div class="ui text loader">正在加载中...</div>
    </div>
    <div class="ui animated list">
      <div><%= type %></div>
      <% _(rankData).each(function(val, i) { %>
        <div>
          <% if (i == 0) { %>
            <img src="./images/trophy-gold.png" alt="" class="ui avatar image position">
          <% } else if (i == 1) { %>
            <img src="./images/trophy-silver.png" alt="" class="position ui image avatar">
          <% } else if (i == 2) { %>
            <img src="./images/trophy-bronze.png" alt="" class="position ui image avatar">
          <% } else { %>
            <a class="ui teal circular label position">
              <% if (i < 9) { %>
                <%= '0' + (i + 1) %>
              <% } else { %>
                <%= i + 1 %>
              <% } %>
            </a>
          <% } %>
          <div class="item rank">
            <img class="ui avatar image" src="<%= val.avatar %>">
            <div class="content">
              <span class="ui orange horizontal label score"><%= val.score %></span>
              <span class="user-name"><%= val.name %></span>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
</div>
