<div class="ui two column relaxed grid">
  <div class="ui four wide column secondary vertical pointing menu rank-menu">
    <a class="active item rank-type teal" data-target="daily">
      <i class="sun icon"></i> Daily
    </a>
    <a class="item rank-type teal" data-target="monthly">
      <i class="moon icon"></i> Monthly
    </a>
    <a class="item rank-type teal" data-target="historical">
      <i class="checkered flag icon"></i> Historical
    </a>
  </div>
  <div class="twelve wide column ui segment main">
    <div class="ui inverted dimmer">
      <div class="ui text loader">正在加载中...</div>
    </div>
    <div class="ui animated list">
      <div>
        <img src="./images/trophy-gold.png" alt="" class="ui avatar image position">
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar.jpg">
          <div class="content">
            高峰
          </div>
        </div>
      </div>
      <div>
        <img src="./images/trophy-silver.png" alt="" class="position ui image avatar">
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar2.jpg">
          <div class="content">
            <span class="score">2312321312231</span>
            <span>Poodle</span>
          </div>
        </div>
      </div>
      <div>
        <img src="./images/trophy-bronze.png" alt="" class="position ui image avatar">
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar3.jpg">
          <div class="content">
            <span class="score">2313123</span>
            <span class="user-name">Paulo</span>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div>
        <a class="ui teal circular label position">04</a>
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar.jpg">
          <div class="content">
            <span class="score">2048</span>
            <span class="user-name">Snickerdoodle</span>
          </div>
        </div>
      </div>
      <div>
        <a class="ui teal circular label position">10</a>
        <div class="item rank">
          <img class="ui avatar image" src="/images/demo/avatar.jpg">
          <div class="content">
            <span class="score">1024</span>
            <span class="user-name">Doodle</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
